html {
  display: flex;
  font-size: 18px;
  background-color: rgb(14,14,14);
  font-family: Helvetica, sans-serif;
  align-items: center;
  justify-content: center;
}

body {
  width: 960px;
  display: block;
  align-items: center;
  justify-content: center;
  background-color: rgb(0,0,0);
  color: white;
}

.container-all {
  display: block;
}

p {
  min-height: 5rem;
}

title {
  font-size: 1rem;
}

div {
  display: block;
}

/* Logo */
.logo {
  display: flex;
  align-items: center;
  margin-left: 100px;
  height: 40px;
  padding: 0 1rem 0 0.5rem;

}

.logo img {
  height: 1.5rem;
  width: 2rem;
  padding-left: 0.5rem;
}

.logo span {
  padding: 0.66rem 0 0.66rem 1rem;
}

/* Main Banner */
.main {
    display: block;
    height: 25rem;
    background-image: url("../photo/moto.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

.headline {
    display: inline-block;
    background-color: black;
    font-size: 2em;
    font-weight: bold;
    padding: 15px;
    margin-left: 100px;
    position: relative;
    width: 20rem;
    top: 9rem;
  }

h1 {
  display: block;
  font-weight: bold;
  font-size: 2rem;
  padding-top: 0.25rem;
}

h3 {
  display: block;
  font-weight: bold;
  font-size: 1rem;
}

h4 {
  display: flex;
  padding: 10px;
}

/* Nav */
nav {
  background-color: rgb(176,0,36);
}

nav .position {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto 100px;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

/* White Container */
.white-container {
  background-color: white;
  padding-top: 3rem;
  padding-bottom: 4rem;
}

/* Grid */
.grid {
  margin: auto 100px;
}

.product {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.option {
  display: flex;
  flex-direction: column;
  border: 4px solid black;
  width: 30%;
}

.option1 {
  display: flex;
  flex-direction: column;
  width: 35%;
}

.option img {
  max-width: 5rem;
  padding: 2rem;
  margin: 0 auto;
}

.option h4 {
  justify-content: center;
  height: auto;
  background-color: black;
}

.option1 h4 {
  padding-left: 2rem;
  height: auto;
  background-color: black;
}

/*.size {
  min-height: 4.8rem;
}*/

.container {
  display: flex;
  padding-top: 3rem;
  margin: auto 100px;
  justify-content: space-between;
}

/* Location & Hours */
.option span,
.option1 span {
  background-color: white;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: black;
}

/*.option #option {
  align-items: flex-start;
}*/

/* Footer */
footer {
  display: flex;
  flex-direction: column;
  height: 5rem;
  justify-content: center;
  margin-left: 100px;
}
